<center>  
  <%= form_with(model: promocode, local: true) do |form| %>
    <% if promocode.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(promocode.errors.count, "error") %> prohibited this promocode from being saved:</h2>

        <ul>
        <% promocode.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
        </ul>
      </div>
    <% end %>

    <div class="field">
      <%= form.label :name %>
      <%= form.text_field :name, id: :promocode_name %>
    </div>

    <div class="actions">
      <%= form.submit %>
    </div>
  <% end %>
</center>