<!-- Page Content -->
<div id="page-wrapper">
    <div class="container-fluid">
        <div class="row bg-title">
            <div class="col-lg-3 col-md-4 col-sm-4 col-xs-12">
                <h4 class="page-title">Add New Product</h4> 
            </div>
            <!-- /.col-lg-12 -->
        </div>
        <!-- /.row -->
        <div class="row">
            <div class="col-md-12">
                <div class="panel panel-info">
                    <div class="panel-heading"> Add Product</div>
                    <div class="panel-wrapper collapse in" aria-expanded="true">
                        <div class="panel-body">
                            <%= form_for @product do |form| %>
                                <div class="form-body">
                                    <h3 class="box-title">About Product</h3>
                                    <hr>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label class="control-label">Product Name</label>
                                                <%= form.text_field :name, class: "form-control"  %> 
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label class="control-label">Section Id</label>
                                                <div class="input-group">
                                                    <%= form.select :section_id, Section.all.map{|s| [s.name, s.id]}, class: "form-control" %> 
                                                </div>
                                            </div>
                                        </div>
                                        <!--/span-->
                                    </div>
                                    <!--/row-->
                                    <div class="row">
                                        <div onload="ShowHideSubCat ()">
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label class="control-label">Category</label>
                                                    <div class="input-group">
                                                    <%= form.select :category_id, Category.all.map{|c| [c.name, c.id]}, class: "form-control" %>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label class="control-label">SubCategory</label>
                                                     <%= form.select :subcategory_id, Subcategory.all.map{|s| [s.name, s.id]}, class: "form-control"%>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!--/row-->
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label>Price</label>
                                                <div class="input-group">
                                                    <div class="input-group-addon"><i class="ti-money"></i></div>
                                                    <%= form.text_field :price, class: "form-control" %> 
                                                </div>
                                            </div>
                                        </div>
                                        <!--/span-->
                                        <!-- <div class="col-md-6">
                                            <div class="form-group">
                                                <label>Promo Code</label>
                                                <div class="input-group">
                                                <%#= form.select :promocode_id, Promocode.all.map{|p| [p.name, p.id]}, class: "form-control" %>         
                                                </div>
                                            </div>
                                        </div> -->
                                        <!--/span-->
                                    </div>
                                    <h3 class="box-title m-t-40">Product Description</h3>
                                    <div class="row">
                                        <div class="col-md-12 ">
                                            <div class="form-group">
                                                <%= form.text_area :description, class: "form-control" %>
                                            </div>
                                        </div>
                                    </div>
                                    <!--/row-->
                                    <div class="row">
                                        <div class="col-md-3">
                                            <h3 class="box-title m-t-20">Upload Image</h3>
                                            <img id="img_prev" src="#" alt="" />
                                            <div class="product-img">
                                                <%= form.file_field :image, onchange: "readURL(this);", class: "btn btn-success" %>
                                            </div>
                                        </div>
                                    </div>
                                    <hr>
                                </div>
                                <div class="form-actions m-t-40">
                                    <%= form.submit "Save", class: "btn btn-success" %>
                                    <%= link_to "Cancel", products_path, class: "btn btn-default" %>
                                </div>
                            <% end %>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--row -->
    </div>
    <!-- /.container-fluid -->
</div>
<!-- /#page-wrapper -->
<script>
  function readURL(input) {
    if (input.files && input.files[0]) {
      var reader = new FileReader();

      reader.onload = function (e) {
        $('#img_prev')
          .attr('src', e.target.result)
          .width(150)
          .height(200);
      };

      reader.readAsDataURL(input.files[0]);
    }
  }

    // function ShowHideSubCat () {
    //     var Category = document.getElementById ("mainCatCombo");
    //     var SubCategory = document.getElementById ("subCatCombo");
    //     Subategory.style.display = (Category.value == 'cat2') ? '' : 'none';
    // }
    $(document).on('change', '#product_category_id',function(){
        $.ajax({
          url: 'get_sub_categories',
          type: 'GET',
          data: { category_id: $("#product_category_id option:selected").val()},
          success: function(data){
            subcat = $("#product_subcategory_id").empty()
            $.each(data, function(k, v){
                var option = "<option>"+v['name']+"</option>"
                subcat.append(option);
            });
          }
        })
    })
</script>